aiohttp==3.7.4
aiohttp-socks==0.5.3
aiorpcX==0.18.5
altgraph==0.17.2
apparmor==2.13.6
appdirs==1.4.4
asn1crypto==1.4.0
async-timeout==3.0.1
attrs==20.3.0
autopep8==1.6.0
beautifulsoup4==4.9.3
bitstring==3.1.7
blinker==1.4
boxes==0.0.0
certifi==2021.5.30
chardet==4.0.0
click==7.1.2
colorama==0.4.4
configobj==5.0.6
cryptography==3.3.2
cupshelpers==1.0
cycler==0.11.0
dbus-python==1.2.16
distro==1.5.0
distro-info==1.0
dnspython==2.0.0
docopt==0.6.2
Electrum==4.0.9
ffmpeg-gui==0.0.1
Flask==1.1.2
Flask-HTTPAuth==3.2.4
fonttools==4.29.1
gpg===1.14.0-unknown
greenlet==0.4.17
gyp==0.1
helpdev==0.7.1
html5lib==1.1
httplib2==0.18.1
idna==2.10
itsdangerous==1.1.0
Jinja2==3.0.1
kiwisolver==1.3.2
LibAppArmor==2.13.6
lolcat==1.4
lupa==1.13
lxml==4.6.3
Mako==1.1.6
MarkupSafe==2.0.1
mate-menu==20.4.1
mate-tweak==21.4.2
matplotlib==3.5.1
mechanize==0.4.5
mock==4.0.3
MouseInfo==0.1.3
msgpack==1.0.0
multidict==5.1.0
mutagen==1.45.1
netifaces==0.10.9
numpy==1.22.2
nyx==2.1.0
olefile==0.46
onboard==1.4.1
onioncircuits==0.7
onionshare==2.2
opencv-python==4.5.5.62
packaging==20.9
pbr==5.5.0
pep8==1.7.1
Pillow==8.4.0
pipreqs==0.4.11
progressbar==2.5
protobuf==3.12.4
psutil==5.8.0
PyAutoGUI==0.9.53
pycairo==1.16.2
pycodestyle==2.8.0
pycountry==20.7.3
pycryptodomex==3.9.7
pycups==2.0.1
pycurl==7.43.0.6
PyGetWindow==0.0.9
Pygments==2.7.1
PyGObject==3.38.0
pygubu==0.20
pygubu-designer==0.24
pyinotify==0.9.6
pyinstaller==4.9
pyinstaller-hooks-contrib==2022.2
PyMsgBox==1.0.9
pynvim==0.4.2
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyperclip==1.8.2
PyQt5==5.15.2
PyQt5-sip==12.8.1
PyRect==0.1.4
PyScreeze==0.1.28
PySimpleGUI==4.57.0
PySimpleSOAP==1.16.2
pysmbc==1.0.23
PySocks==1.7.1
python-apt==2.2.1+parrot1
python-dateutil==2.8.2
python-debian==0.1.39
python-debianbts==3.1.0
python-xapp==2.0.2
python-xlib==0.29
python3-xlib==0.15
pytweening==1.0.4
pyxattr==0.7.2
pyxdg==0.27
QDarkStyle==2.8.1
qrcode==6.1
QtPy==1.9.0
reportbug==7.10.3+deb11u1
requests==2.25.1
requests-toolbelt==0.9.1
setproctitle==1.2.1
simplejson==3.17.2
six==1.16.0
soupsieve==2.2.1
stem==1.8.0
terminator==2.1.0
tinyaes==1.0.3
toml==0.10.2
torbrowser-launcher==0.3.3
typing-extensions==3.7.4.3
ufw==0.36
unattended-upgrades==0.1
urllib3==1.26.6
urwid==2.1.2
webencodings==0.5.1
Werkzeug==1.0.1
xdg==5
yarg==0.1.9
yarl==1.6.3
youtube-dl==2021.6.6

